form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #4A4E69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #22223B;
}
