body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4A4E69;
    color: white;
    padding: 1em;
    text-align: center;
}

section#about {
    padding: 2em;
    background-color: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #22223B;
}

h3 {
    color: #4A4E69;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #9A8C98;
    color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
